* {
    box-sizing: border-box;
}

#navbar {
    display: flex;
    justify-content: space-between;
}

#navlinks {
    display: flex;
    list-style: none;
}

.navlinkitems {
    margin: 5px;
}

#aboutMe {
    text-align: center;
    border-bottom: 1px solid black;
}

#contact {
    border: 1px solid black;
    text-align: center;
}

.contactlistitems {
    list-style: none;
}

#contactlist {
    padding: 0;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
}

#registrationform {
    display: flex;
    justify-content: center;
}

#registerheader {
    text-align: center;
}